.form-container {
  width: 40%;
  margin: 25px auto;
  text-align: center;
}

.formData {
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 15px;
}

@media only screen and (max-width: 830px) {
  .form-container {
    width: 60%;
  }
}

@media only screen and (max-width: 580px) {
  .form-container {
    width: 80%;
  }
}
